<p id="notice"><%= notice %></p>

<%if current_developer and current_developer.id == @developer.id%>
Your name is <%= @developer.full_name %>
 <%elsif%>
    <p>Name of the developer is <%= @developer.full_name %></p>
<% end %>

<%= link_to 'Back', developers_path %>
