<div class="homepage-container">   
    <div class="left-info">
        <h1>DEVELOPERS</h1>
        <h2>Placeholder</h2>
    </div>
    <div class="right-info">
        <h1>EMPLOYERS</h1>
        <h2>Placeholder </h2>
    </div>
</div>
<div class="how-it-works">
    <h1>HOW IT WORKS</h1>
    
</div>
