<div class="homepage-container">   
    <div class="left-info">
        <h1>DEVELOPERS</h1>
        DEV IMAGE
        DEV DESCRIPTION
    </div>
    <div class="right-info">
        <h1>EMPLOYERS</h1>
        EMP IMAGE
        EMP DESCRIPTION
    </div>
</div>
<div class="how-it-works">
    PLACEHOLDER
</div>
