 <% unless employer_signed_in? or developer_signed_in? %> 
    <h1>Welcome to the best startup ever!</h1>
    <h2><a href="/developers/sign_up">Become a developer</a></h2>
    <h2><a href="/employers/sign_up">Become an employer</a></h2>
<% end %>

