<div id="projects_list">
    <% @projects.each do |project| %>
        <p>
            <strong><%= link_to project.project_name, project_path(project) %></strong>
            <br />
            <%= project.project_description %>
        </p>
    <% end %>
</div>