/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 

 */
 
 $font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
 @import 'semantic-ui';
 @import './partials/*';
 @import 'scaffolds';
 @import 'welcome';
 @import 'projects';
 @import 'developers';
 @import 'employers';
 @import 'messages';

header{
    @include flexbox(flex, column, center, center);
}

.top-nav{
    @include flexbox(flex, row, center, space-between);
    width: 100%;
    font-size: 1.25em;
}

.navigation-bar{
    @include flexbox(flex, row, center, space-evenly);
    width: 100vw;
    height: 3vh;
    font-size: 1.25em;
    background-color: #34374D;

    .link {
        color: white;
    }

    a:hover{
        color: green;
        background-color: transparent;
    }
    
}

a:hover{
    color: green;
    background-color: transparent;
}

.logo {
    width: 15vh;
    position: relative;
    bottom: 10px;
}

.links{
    @include flexbox(flex,row, center, space-between);
    width: 25vw;

}

.log-link{
    @include flexbox(flex,row, center, space-between);
}

.main-container{
    @include flexbox(flex, column, center, center);
    width: 100%;
}

.card-container {
    @include flexbox(flex, row, center, flex-start);
    flex-wrap: wrap;
    width: 120vw;
    margin-left: 340px;
}

.ui.card {
    width: 30vw;
    margin: 2vw 2vh;
}
.ui.card:first-child{
    margin-top: 30px;
}
.ui.card:last-child {
    margin-top: -1px;
}
.show-profile{
    @include flexbox(flex, row, flex-start, flex-start);
    width: 100%;
}

.proj-profile {
    @include flexbox(flex, column, flex-start, flex-start);
}

select {
    background-color: white;
}

.ui.card > .image:not(.ui) > img {
    height: 380px;
    border: none;
<<<<<<< HEAD
}
=======

} 
>>>>>>> 6aa2a1ccaee674f64e1626c2cd007f07d6142d12
