.homepage-container{
    @include flexbox(flex, row, center, space-evenly);
}

.logsign-container{
    @include flexbox(flex, row, center, space-evenly);
    position: relative;
    top: 10vh;
}

.left-info{
    padding-right: 10vw;
}

.right-info{
    border-left: 1px solid green;
    padding-left: 10vw;
}


