.homepage-container{
    @include flexbox(flex, row, center, space-evenly);
}

.logsign-container{
    @include flexbox(flex, row, center, space-evenly);
    position: relative;
    top: 10vh;
}

.left-info{
    padding-right: 10vw;
}

.right-info{
    border-left: 1px solid green;
    padding-left: 10vw;
}

.row-container{
    @include flexbox(flex, row, center, center);
    width: 100%;
}

.dashboard-row{
    width: 25%;
}

.column-container{
    @include flexbox(flex, column, center, center);
}

